@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;	
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #E5E5E5; /*разобраться с думя волосами и с градиентом! */
}
.visuality-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
	outline: 1px solid green; /*временно*/
}
.button {
	color: #ffffff;
	background-color: #756257;
	font-weight: 700;
}
.button-nav {
	width: 160px;
	height:18px;
	font-size: 21px;
	line-height: 21px;
	background-color: #756257;
	border-radius: 4px;
	text-decoration: none;
	padding: 10px 22px;;
	}
.button-hotels {
	font-size: 20px;
	line-height: 36px;
	background-color: #756257;
	display: block;
	width: 575px;
	height: 30px;
	padding-top: 13px;
	padding-bottom: 17px;
	margin: 0 auto;
	margin-top: 86px;
	text-decoration: none;
	border-radius: 10px;
	
}
.button-mailing {
	font-size: 20px;
	line-height: 26px;
	background-color: #83B3D3;
}
ul {
	list-style: none;/*это пока временно*/
}
/*хедер*/
.page-header  {
	background-color: #ffffff;
}
.navigation {
	display: flex;
	justify-content: space-between;
}
.navigation-list {
	width: 310px;
	margin: 0;
	padding: 0;
	display: flex;
	padding-top: 19px;
	padding-bottom: 20px;
	margin-left: 71px;
}
.navigation-item {
	margin-right: 33px;
}
.navigation-item-user {
	margin-left: 24px;
}
.navigation-user {
	width: 275px;
	margin: 0;
	padding: 0;
	display: flex;
	padding-top: 23px;
	padding-bottom: 24px;
	margin-right: 72px;
}
.navigation-link {          
	display: block;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	color: inherit;
	text-decoration: none;
}
.logo {
	display: block;
	margin: 0 auto;
}

/*main-index*/
.invitation {
	display: block;
	margin: 0 auto;
}
.article-header {
	background-color: #ffffff;
	color: #000000;
	padding-bottom: 79px;
	padding-top: 63px;
}

.index,
 .page-footer {
	background-color: #ffffff;
}
.upper-text {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.bottom-text {
	font-size: 22px;
	line-height: 36px;
}
.invitation-to-sedona {
	width:1200px;
	padding-top: 51px;
	background-image: url("../images/welcome-background.jpg");
	background-size: 1200px 485px;
	background-repeat: no-repeat;
}
.invitation-to-sedona img:first-child {
	margin-top: 51px;
}
.invitation-to-sedona img:nth-child(2) {
	margin-top: 11px;
}

.invitation-to-sedona img:nth-child(3) {
	margin-bottom: 53px;
}

.invitation-to-sedona img:last-child {
	margin-top: 25px;
}
.sedona-info {
	display: flex;
	flex-wrap: wrap;
}
.sedona-info ul:nth-child(1),
.sedona-info ul:nth-child(7) {
	color: #ffffff;
	background-color: #83B3D3;
}
.sedona-info ul:nth-child(4) {
	color: #000000;
	background-color: #ffffff;
}

.sedona-info ul:nth-child(3),
.sedona-info ul:nth-child(5),
.sedona-info ul:nth-child(8), 
.sedona-info ul:nth-child(10) {
	color: #000000;
	background-color: rgba(131, 179, 211, 0.12);
}
.sedona-info ul:nth-child(9) {
	color: #000000;
	background-color: rgba(131, 179, 211, 0.2);
}

.sedona-info-list {
	padding: 0;
	margin: 0;
}
i.img-main {
	display: block;
}
.sedona,
.sedona-info,
.hotels,
.mailing {
	text-align: center;
}
/*преимущества*/
.sedona-info-item {
	width: 400px;
	padding-top: 98px;
	padding-bottom: 62px; /*тут помаеету д быть 77, но при этом ломается???*/
	outline: 1px solid red;
}
.sedona-info-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
.sedona-info-description, 
.advantages-number {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}
.hotels {
	background-color: #ffffff;
	padding-top: 91px;
	padding-bottom: 108px;
}
.mailing {
	padding: 94px 0;
	color: #ffffff;
}

/*вторая страницв    -  гостиницы*/

.page-header {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}
.hotels-description {
	font-size: 22px;
	line-height: 26px;
}
.button-hotels {
	font-size: 20px;
	line-height: 36px;
	color: #ffffff;
}
.bottom-text-mailing {
	font-size: 22px;
	line-height: 26px;
	color: #ffffff;
}
.mailing {
	background-image: url("../images/nature.jpg");
	background-size: 1200px auto;
	background-repeat: no-repeat;
}

/*main-hotels*/
.main-hotels {
	background-color: #ffffff;
}
.choice {
	color: #ffffff;
	background-image: url("../images/hotels-background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.page-title-hotels {
	font-size: 60px;
	line-height: 77px;
	font-weight: 700;
}
.breadrumbs-link {
	font-size: 16px;
	line-height: 21px;
	color: inherit;
}

/*футер*/

.page-footer {
	display: flex;
	justify-content: space-between;
	padding-left: 72px;
	padding-right: 72px;
}
.footer-social-list {
	padding: 0;
	margin: 0;
	display: flex;
	padding-top: 50px;
	
}
.footer-social-item {
	margin-right: 53px;
}

.footer-contacts-phonee {
	font-size: 40px;
	line-height: 40px;
	font-style: normal;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-right: 82px;
}
.contact-tel {
	color: #000000;
}
.htmlacademy-link {
	display: block;
	padding-top: 43px;
}

.breadrumbs-text {
	font-size: 16px;
	line-height: 21px;
}
